<nav class="navbar navbar-expand-lg navbar-light bg-primary px-3 fixed-top border-bottom border-white border-4">
    <img class="lagartixa me-2" src="/lagartixa/lagartixa" alt="lagartixa">
    <a class="navbar-brand text-white fw-bold" href="#">Troca de livros</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" href="/livros">Livros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" href="/meusLivros">Meus livros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" href="/minhasPropostas">Minhas Propostas</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-semibold" href="/registrar">Registrar</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <img class="fixed-bottom ms-auto pato" src="/pato/pato" alt="pato">
</div>